body { background: url(../images/bg-main.jpg)top repeat-x; text-align:left; color:#333; font-family:Arial, Helvetica, sans-serif; }
a { color:#000; text-decoration:none;}
a:hover {color:#ff7800;}
#page{}
h2{font-size:14px!important; font-weight:bold; padding-bottom:5px; border-bottom:2px solid #cccccc;}
h3{font-size:14px!important; color:#ff6600; font-weight:bold; padding-bottom:10px; border-bottom:2px solid #cccccc; margin-bottom:10px;}
.orange {color:#ff7800; float:left; font-size:10px;}
/* Header Classes Start */




#header {}
.logo { width:195px;}


/* Header Classes End */


/* Maincontainer Classes Start */

#maincontainer {}
.container-left { border:1px solid #AAAAAA; float:left; margin:20px 10px 10px 0px; width:705px; height:463px;}
.container-right {float:left; margin:5px 0px 10px 0px; padding:20px 0px 5px 0px; width:270px; background:#fff;}

.main-nav { text-transform:none; font-size:12px;}
.main-nav ul { list-style:none; display:block; margin:5px 0 0 0; padding:0;}
.main-nav ul li{ float:left; background:url(../images/nav-dvider.jpg) right bottom no-repeat; width: 25%; border-bottom:solid 1px #CCC; text-align:center}
.main-nav ul li a {text-decoration:none; color:#424141; margin-right:1px;}
.main-nav ul li a:hover{ color:#ff902d;}
.main-nav .selected{ color:#ff902d !important; border-bottom:none !important; }
.fade-show { width:212px!important; margin:20px 15px 15px 20px; float:left;}
.fade-show h3 { background:#fff; padding:7px 5px; color:#330000; font-size:13px; font-weight:bold; margin-bottom:0px; width:202px; text-decoration:none;}

.signin-btn { margin-bottom:10px; margin-top:-14px; margin-left:-10px; float:left; margin-right:20px;}
.signin-btn a { padding:10px 10px 15px 10px; color:#000; font-size:14px; font-weight:bold; text-decoration:none;}
.signin-btn a:hover { background:url(../images/signin-btn.jpg) repeat-x;} 
/* Maincontainer Classes End */

/* Maincontainer-02 Classes Start */
#maincontainer-02 { background:#ffffff; border-left:1px solid #dedede!important; border-right:1px solid #dedede!important;}
.breadbrumbs { font-weight:bold; border-bottom:solid 2px #ececec; margin:0px 0px 0px -20px; width:102%; padding-left:20px; margin-bottom:20px; padding-bottom:4px;}
.breadbrumbs a { margin:0px 10px; color:#000000; padding:10px 0px; float:left;}
.breadbrumbs a:hover{ color:#ff7800;}
.active1{ color:#ff7800 !important;}


.left-sec {float:left; width:225px; background:#f8f8f8; border:solid 1px #dcdcdc; height:955px; margin-right:20px;}
.left-sec h1 { color:#ff9230; font-size:14px; font-weight:bold; padding:12px 20px; border-bottom:solid 2px #ececec;}
.left-sec h2 { font-size:14px; color:#000000; padding:10px 20px; border-bottom: solid 2px #dcdcdc; margin-bottom:0px;}
.left-sec ul { list-style:none; margin:0px 0px 20px 0px; padding:0px; border-bottom:solid 2px #dcdcdc;}
.left-sec ul li{display:block;}
.left-sec ul li a{ display:block; padding:5px 20px; width:185px; border-bottom:solid 1px #f8f8f8; border-top:solid 1px #f8f8f8;}
.left-sec ul li a:hover{ background:#FFF url(../images/arrow-01.jpg) right no-repeat; display:block; color:#000; border-right:solid 2px #FFF; border-bottom:solid 1px #dcdcdc; border-top:solid 1px #dcdcdc;}
.active{ background:#FFF url(../images/arrow-01.jpg) right no-repeat; display:block; color:#000; border-right:solid 2px #FFF; border-bottom:solid 1px #dcdcdc !important; border-top:solid 1px #dcdcdc !important;}
.left-sec ul li span { color:#999; font-size:11px;}

.btn-1 { font-size:14px; font-weight:bold;}
.btn-1 a{ color:#FFF; background:#ff7800; padding:5px 10px;}
.btn-1 a:hover {background:#ea8d02;}



.sec-container-right { float:left; background:#fff; padding:0px 0px 10px 0px; }
.breadcrumbs { color:#333; padding-top:3px; padding-bottom:5px; margin:0px 0px 0px 0px; float:left; margin-left:2px;}
.breadcrumbs a { background:#cccccc url(../images/breadcrum-gray.jpg) right no-repeat; padding:10px 30px 10px 20px; color:#fff; font-size:12px; font-weight:bold; text-decoration:none;}
.breadcrumbs a:hover { background:#ff7800 url(../images/breadcrums-hover.jpg) right no-repeat;}
.breadcrumbs .selected { background:#ff7800 url(../images/breadcrums-hover.jpg) right no-repeat;}
.table-01 { width:340px; background:#fff; float:left;}
.table-01 td { border-bottom:1px dashed #ccc; padding:3px 3px 3px 3px; font-size:12px; font-weight:bold; color:#000;}
.table-01 span { font-size:12px; font-weight:bold; color:#ff6600; text-align:left;}
.table-01 .td-1 { font-size:12px; font-weight:normal; text-align:left;}
.table-01 .td-2 { font-size:12px; font-weight:normal; text-align:left; color:#AAAAAA;}
.box-02 { float:right!important; margin-left:10px; margin-top:50px;}
.submit-btn-1 {background:#ff7800; padding:5px 5px 5px 5px; color:#fff; font-size:12px; font-weight:bold; text-decoration:none; border:none; cursor:pointer; margin-top:10px;}
.submit-btn-1:hover { background:#333;}
.submit-btn-2 { background:#ff7800 url(../images/breadcrums-hover.jpg) right no-repeat; padding:5px 10px 8px 10px; color:#fff; font-size:12px; font-weight:bold; text-decoration:none; border:none; margin-left:20px; cursor:pointer;margin-top:10px;}
.submit-btn-2:hover { background:#cccccc url(../images/breadcrum-gray.jpg) right no-repeat;}

.table-02 { width:340px; float:left; border:1px solid #ccc; border-bottom:none;}
.table-02 .td-02 { background:#666; color:#fff; padding-left:10px; font-weight:bold; padding:5px 5px 5px 12px;}
.table-02 td { background:#f6f6f6; border-bottom:1px solid #ccc; padding:9px 5px 0px 10px; font-size:12px; font-weight:normal; color:#000;}
.table-02 span { font-size:12px; font-weight:bold; color:#ff6600; text-align:left;}
.table-02 .td-1 { font-size:12px; font-weight:normal; text-align:left;}
.table-02 .td-2 { font-size:12px; font-weight:normal; text-align:left; color:#AAAAAA;}

.table-03 { background:#f6f6f6; width:340px; float:left; border:1px solid #ccc; padding-top:10px;}
.table-03 td { padding:5px 5px 5px 5px; text-align:right; font-size:12px;}
.check-icon {font-size:14px; font-weight:bold; padding:5px 5px 5px 5px; margin:0px 0px 0px 100px; z-index:1;}
.check-icon .img { float:left;}
.check-icon span { float:left; margin-top:5px;}


.row-view-03 { background:#fff;  padding-top:5px; padding-bottom:10px; margin-top:15px; width:340px; border-bottom:1px dashed #ccc;}
.row-view-03 h3 {color:#333; font-size:12px; text-transform:capitalize; font-weight:bold;}
.row-view-03 span{ color:#666666; background:none; border:none; font-size:12px; text-transform:none; padding-left:10px;}
.row-view-03 .img{ float:left; border:solid 1px #ccc; width:154px; height:124px; margin-right:10px; margin-left:15px;}
.row-view-03 .content {float:left;color:#990000; padding:0px 10px 0px 10px;}
.row-view-03 .img-03 { float:left; margin-right:10px; margin-left:10px;}
.row-view-03 .readmore { background:url(../images/bullet-02.png) left no-repeat; }
.row-view-03 .readmore a {color:#0099FF; font-size:11px; text-transform:uppercase; margin-left:25px; text-decoration:none;}
.row-view-03 .readmore a:hover {color:#000;}
.txtbox { background:#FFF;  border:solid 1px #CCC; padding:2px 5px; width:170px; margin-top:0px !important;}


/* Maincontainer02 Classes End */


/*------Form Classes Start-----*/

.form-body {padding:10px 20px 40px 20px; background:#ff7800;}
.form-body a { text-decoration:underline; color:#000; font-size:12px;!important}
.form-body a:hover {color:#333;}
.form-body  h2 { text-transform:none; font-size:18px; margin:10px 0px 0px 0px; color:#ce6e08;}
.form-body span { color:#666666; font-size:11px; font-weight:bold;}
.form-body ul { padding:20px 0px 20px 0px; float:left; list-style:none; }
.form-body ul li label{margin:5px 10px 0px 10px; float:left; color:#907000; list-style:none;}
.form-body  ul li .l1 {width: 100px; display: block; float:left; text-align:right; padding-top:5px; list-style:none;}
.form-body  ul li {display:block; clear:both;list-style:none!important;}
.textfield-bk{background:url(../images/text-bg.jpg) repeat-x;  padding:5px 5px 5px 5px ; margin-bottom:5px; width:200px; color:#666; font-size:14px; margin-left:20px; }
.textarea-bk{ background:#fff; padding:5px 5px 2px 5px ; margin-bottom:5px; width:200px; height:80px; color:#666; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.send-btns { color:#990000; background:#333;text-decoration:none; margin-right:5px; margin-top:5px; margin-bottom:5px; border:none; cursor:pointer; font-size:10px; padding:5px 5px 5px 5px; color:#fff; font-weight:bold;}
.send-btns:hover { color:#fff; background:#666;}
.btns a {color:#990000; background:url(../images/btn-bg.jpg);text-decoration:none; margin-right:10px; margin-top:10px; border:none; cursor:pointer; font-size:10px; padding:5px 5px 5px 5px;}
.btns a:hover {background:#ff7800; color:#990000;}
.textfield {background: url(../images/text-bx-bg.jpg) repeat-x bottom left #fbf7d0; border:1px solid #ebc84c; padding:5px 5px 5px 5px ; margin-bottom:5px; width:300px; color:#666; font-size:12px;}
.textfield-home { background-color:#410000 !important; padding:5px 5px 5px 5px; border:none; width:210px; color:#cda05f}
.txtarea-bg { background-color:#410000 !important; padding:5px 5px 5px 5px; border:none; width:280px; color:#cda05f; height:70px;}

.track-order { width:461px; border-left:1px solid #ccc; position:relative; padding:10px 10px 50px 10px; margin-left:26px; z-index:1;}
.track-order .check-icon-02 {font-size:14px; font-weight:bold; padding:5px 5px 5px 5px; margin:20px 0px 0px -32px; z-index:1; } 
.track-order .check-icon-02 img { float:left;}
.track-order .check-icon-02 .text { float:left; margin-top:5px; margin-left:5px; color:#333;}
.track-order .check-icon-02 .text-02 { color:#999999; font-size:13px; float:left;}
.track-order .check-icon-02 span { color:#999999; font-size:10px; padding-bottom:10px; margin-left:2px;}
.submit-btn-3 {font-weight:bold; font-size:12px; margin:10px 0px 0px -22px;}
.submit-btn-3 a{ background:#ff7800 url(../images/breadcrums-hover.jpg) right no-repeat; padding:5px 10px 8px 10px; color:#fff; text-decoration:none;}
.submit-btn-3 a:hover { background:#cccccc url(../images/breadcrum-gray.jpg) right no-repeat;}
.active-2{ background:#cccccc url(../images/breadcrum-gray.jpg) right no-repeat !important;}
.track-order .check-icon-03 {font-size:14px; font-weight:bold; padding:5px 5px 5px 5px; margin:0px 0px 0px -32px; z-index:1;  }
.track-order .check-icon-03 img { float:left;}
.track-order .check-icon-03 .text { float:left; margin-top:5px; margin-left:5px; color:#333;}
.track-order .check-icon-03 .text-02 { color:#999999; font-size:13px;}
.track-order .check-icon-03 span { color:#999999; font-size:10px; padding-bottom:10px; margin-left:2px;}

.track-order-02 {width:461px; border-left:1px solid #ccc; position:relative; padding:10px 10px 20px 10px; margin-left:26px; z-index:1; margin-top:30px;}
.track-order-02 .check-icon-04 {font-size:14px; font-weight:bold; padding:5px 5px 5px 5px; margin:-25px 0px 0px -25px; z-index:1; float:left;} 
.track-order-02 .check-icon-04 img { float:left;}
.track-order-02 .check-icon-04 .text { float:left; margin-top:5px; color:#333; background:#fff; margin:-3px 0px 0px 0px; padding:0px 5px 0px 0px;}
.track-order-02 .check-icon-04 .text-02 { color:#999999; font-size:13px;}
.track-order-02 .check-icon-04 span { color:#999999; font-size:10px; padding-bottom:10px; margin-left:2px;}

.track-order-02 .check-icon-05 {font-size:14px; font-weight:bold; padding:5px 5px 5px 5px; margin:-25px 0px 0px 20px; z-index:1; float:left;} 
.track-order-02 .check-icon-05 img { float:left;}
.track-order-02 .check-icon-05 .text { float:left; margin-top:5px; color:#333; background:#fff; margin:-3px 0px 0px 0px; padding:0px 5px 0px 0px;}
.track-order-02 .check-icon-05 .text-02 { color:#999999; font-size:13px;}
.track-order-02 .check-icon-05 span { color:#999999; font-size:10px; padding-bottom:10px; margin-left:2px;}

/*------Form Classes Start-----*/

.form-body-02 {padding:10px 10px 10px 10px; background:#fff;}
.form-body-02 p{ padding:0px 0px 0px 12px; font-weight:normal; font-size:11px; float:left;}
.form-body-02  h2 { text-transform:none; font-size:18px; margin:10px 0px 0px 0px; color:#ce6e08;}
.form-body-02 span { color:#666666; font-size:11px; font-weight:bold;}
.form-body-02 ul { padding:20px 0px 20px 0px; float:left; list-style:none; }
.form-body-02 ul li label{margin:5px 10px 0px 10px; float:left; color:#333; list-style:none; width:250px;}
.form-body-02  ul li .l1 {display: block; float:left; text-align:left; padding-top:5px; list-style:none;}
.form-body-02  ul li {display:block; clear:both;list-style:none!important;}
.textfield-bk-02 {background:#efefef!important; padding:5px 5px 5px 5px ; margin-bottom:5px; color:#666; font-size:14px; margin-left:10px; }
.textarea-bk-02{ background:#efefef!important; padding:5px 5px 2px 5px ; margin-bottom:5px;color:#666; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-left:40px; border:1px solid #cccccc!important;}
.send-btns-02 { color:#990000; background:#ff7800;text-decoration:none; margin-right:5px; margin-top:5px; margin-bottom:5px; border:none; cursor:pointer; font-size:11px; padding:5px 5px 5px 5px; color:#fff; font-weight:bold; margin-left:20px;}
.send-btns-02:hover { color:#fff; background:#666;}
.btns-02 a {color:#990000; background:#ccc;text-decoration:none; margin-right:10px; margin-top:10px; border:none; cursor:pointer; font-size:10px; padding:5px 5px 5px 5px;}
			.btns-02 a:hover {background:#ff7800; color:#990000;}
.textfield-02 {background:#efefef;border:1px solid #ebc84c; padding:5px 5px 5px 5px ; margin-bottom:5px; width:300px; color:#666; font-size:12px;}
.textfield-home-02 {background:#efefef;!important; padding:5px 5px 5px 5px; border:none; width:210px; color:#cda05f}

.txtarea-bg-02 {background:#efefef!important; padding:5px 5px 5px 5px; border:none; width:280px; color:#cda05f; height:70px;}


.form-body-03 { float:right; width:195px; border:1px solid #ccc; background:#f9f9f9; padding:15px 20px 0px 20px;} 
.form-body-03 .t-1 { font-size:12px; color:#000; padding-bottom:10px; border-bottom:1px solid #ccc;}
.t-1  a { color:#ff7800; text-decoration:underline;}
.t-1 a:hover {color:#000;} 
.form-body-03 .t-2 { font-size:14px; color:#000; padding-bottom:10px; font-weight:bold;}
.textarea-bk-03{ background:url(../images/textbox-bg_03.jpg) #fff top repeat-x; padding:5px 5px 2px 5px ; margin-bottom:5px;color:#666; font-family:Arial, Helvetica, sans-serif; font-size:12px; border:1px solid #cccccc!important; width:170px; height:150px;}
.add-btns { color:#990000; background:#ff7800;text-decoration:none; margin-right:5px; margin-top:5px; margin-bottom:5px; border:none; cursor:pointer; font-size:11px; padding:5px 5px 5px 5px; color:#fff; font-weight:bold;}
.add-btns:hover { color:#fff; background:#666;}
.forgot-pswd-btns { background:none;text-decoration:none;  margin-bottom:5px; border:none; cursor:pointer; font-size:14px; padding:5px 5px 10px 5px; color:#ff7800; border-bottom:1px solid #ccc; text-align:center; width:120px;}
.forgot-pswd-btns:hover {color:#333;}
/*------Form Classes Start-----*/

/* Footer Classes Start */

#footer {width:1004px; color:#666; font-family: arial;}
.footer-contact { color:#a1a1a1; float:left; margin:20px 0 0 150px;}
.footer-contact a {color:#a1a1a1; text-decoration:none;}
.footer-contact a:hover { color:#ff7800; text-decoration:underline;}
.copy-right { float:right; margin: 20px 10px 0 0;}
.copy-right a { color: white;}
.copy-right a:hover { color: #e19000;}
.footer-links { float:left; margin: 10px 0 0 10px; padding:10px; font-weight:bold;}
.footer-links a { color:#a1a1a1;}
.footer-links #aboutUsLink  a{ color: #f3f3f4;}
.footer-links #aboutUsLink  a:hover { color: #f4981a;}
.footer-links a:hover { color:#f4981a;}

/* Footer Classes End */


.p-1{ float:left; margin:23px 0px 0px 500px; color:#ccc; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.p-2{padding-top:15px; margin-left:12px; padding-bottom:0px; margin-bottom:0px; float:left;}
.p-3{padding:10px 8px; float:left;}
.p-3 .d-1{background-color: #aaa;  padding:2px 0px 2px 2px;}
.p-3 .d-1 .d-2{ background:#000; float:left!important; border:1px solid #000; margin-right:2px; color:#fff; font-size:24px; width:31px; height:40px;}
.d-3{ position:absolute; font-size:30px; color:#fff; float:left; letter-spacing:18px; margin-left:42px;}

#container-02 {width:1125px; margin: 20px auto;}
#container-02 .gallery.clearfix li a img{
transition: opacity 0.2s linear;
-moz-transition: opacity 0.2s linear;
-webkit-transition: opacity 0.2s linear;
 background:url('../images/hover.png') 10px 10px no-repeat whiteSmoke;
 opacity:0.3;

} /* small image css */ 

.product-grid td:hover {
/* transition:background 0.2s linear;
-moz-transition:background 0.2s linear;
-webkit-transition:background 0.2s linear; */
}
 
#container-02 .gallery.clearfix li:hover a img { opacity:1;} /* small image css hover*/


.gallery.clearfix li {float: left; margin:0px 10px 10px 0px; display:block; width:123px; height:123px;}

.menuUpper {
	padding-left: 4px;
}
